@model IEnumerable<MovieCrusier.Models.Favourite>

@{
    ViewData["Title"] = "GetAllFavouriteMovies";
}

<h1>Favourites</h1>

<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoxOffice)
            </th>
            <th>
                Date of Launch
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasTeaser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @{int favourites = 0;}
@foreach (var item in Model) {
    favourites++;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoxOffice)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.DateOfLaunch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasTeaser)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteFavouriteMovie", new {  id=item.FavouriteId })
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <h4>Total No.of Favourites:@favourites</h4>
</div>
<div>
    <a asp-action="GetAllActiveMovies">Back to List</a>
</div>
